body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fbfdfa;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;
}

.back-btn {
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10px;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kpn-logo {
    height: 40px;
}

.countdown {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.hoi-colin {
    margin-top: 5px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: black;
}

.card img {
    width: 60px;
    height: 60px;
}

.video-scroll {
    max-height: 60vh;
    overflow-y: scroll;
    padding: 10px;
}

.video-card {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.footer-gif {
    width: 100%;
    display: block;
    margin-top: 0;
}

.footer-gif-right {
    display: block;
    width: auto;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
}
